name: Java Ci

on:
  push:
    branches:
        - '**'

jobs:
  setup-dependencies:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
      with:
        submodules: true
    - name: Setup cross compiler for Linux
      run: |
        sudo apt update
        sudo apt install --assume-yes gcc-arm-linux-gnueabi gcc-aarch64-linux-gnu gcc-i686-linux-gnu
    - name: Setup cross compiler for Android
      uses: nttld/setup-ndk@main
      id: setup-ndk
      with:
        ndk-version: r25-beta1
    - runs: echo 'ANDROID_HOME=${{ steps.setup-ndk.outputs.ndk-path }}' >> "${GITHUB_ENV}"
    - name: Setup cross compiler for Windows
      run: |
        declare -r LLVM_MINGW_TAG="$(jq --raw-output '.tag_name' <<< "$(curl --silent --url 'https://api.github.com/repos/mstorsjo/llvm-mingw/releases/latest')")"
        declare -r LLVM_MINGW_TARBALL='/tmp/llvm-mingw.tar.xz'
        declare -r LLVM_MINGW_URL="https://github.com/mstorsjo/llvm-mingw/releases/download/${LLVM_MINGW_TAG}/llvm-mingw-${LLVM_MINGW_TAG}-msvcrt-ubuntu-18.04-x86_64.tar.xz"
        
        curl --silent --location --url "${LLVM_MINGW_URL}" --output "${LLVM_MINGW_TARBALL}"
        tar --directory="$(dirname "${LLVM_MINGW_TARBALL}")" --extract --file="${LLVM_MINGW_TARBALL}"
        
        echo "LLVM_MINGW_HOME=$(dirname "${LLVM_MINGW_TARBALL}")/$(basename "${LLVM_MINGW_URL}" '.tar.xz')" >> "${GITHUB_ENV}"
  build:
    needs: [ setup-dependencies ]
    strategy:
      matrix:
        a: [10, 12, 14]
    steps:
    - name: a
      run: echo ${{ matrix.version }}